/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 20px;
}

.navbar-nav .nav-link {
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

/* Page Content Styles */
.text-center {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    font-size: 36px;
    margin-top: 40px;
}

p {
    margin-top: 10px;
    font-size: 18px;
    color: #666666;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
}

.input-group-text {
    background-color: #007bff;
    color: #ffffff;
    border: none;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Result Styles */
.bg-dark {
    background-color: #343a40;
}

.text-white {
    color: #ffffff;
}

.rounded {
    border-radius: 4px;
    padding: 5px 10px;
    display: inline-block;
    margin: 10px auto;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .navbar-nav .nav-item {
        margin-right: 10px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }
}
